{% extends 'admin.html.twig' %}

{% block title %}Compte-rendu{% endblock %}

{% block content %}


<section class="py-2 mb-5">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Ajouter un compte-rendu pour {{ reunionTrouvee.getTitre() }}</div>
    {% if errors is not empty %}
      <div class="alert alert-danger">{{errors|raw}}</div>
    {% elseif success == true %}
      <div class="alert alert-success">Votre CR a bien été ajouté</div>
    {% endif %}
    <div class="card-body">Réunion du {{ reunionTrouvee.getDatetimeReu()|date("Y-m-d") }} à {{ reunionTrouvee.getDatetimeReu()|date("H:i") }}</div>
    <div class="card-body">
      <form method="post">
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <label for="titre">Nom du compte rendu</label>
              <input type="text" id="titre" name="titre" class="form-control" required="required" autofocus="autofocus" value="{{ donnees_saisies.titre ?? '' }}">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="contenu">Contenu</label>
          <textarea id="contenu" name="contenu" class="form-control" required="required" >{{ donnees_saisies.contenu ?? '' }}</textarea>
        </div>
        <div class="card-body">
        {% if success == true %}
          <a class="btn btn-primary btn-block" href="{{ path('edit_cr', {id : reunionTrouvee.getId()}) }}" role="button">Modifier ce compte rendu </a>
        {% else %}
          <input type="submit" value="Ajouter" class="btn btn-primary btn-block">
        {% endif %}
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}
