{% extends 'admin.html.twig' %}

{% block title %}Suppression d'une réunion{% endblock %}

{% block content %}
    
<div class="card mb-3">
    <h2>Détails de la réunion à supprimer  </h2>
  	<div class="card-header">
    	<i class="fas fa-table"></i>{{ reunionTrouvee.getTitre() }}
    </div>
  	<div class="card-body">
	    <div class="table-responsive">
	      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	        <thead>
	          <tr>
	            <th>Intitulé de la réunion</th>
	            <th>Type de réunion</th>
	            <th>Date et heure</th>
	            <th>Lieu</th>
	            <th>Contenu de la réunion</th>
	            <th>Proposé par</th>
	            <th></th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <td>{{ reunionTrouvee.getTitre() }}</td>
	            <td>{{ reunionTrouvee.getTypeReu() }}</td>
	            <td>Le {{ reunionTrouvee.getDatetimeReu()|date("d/m/Y") }} à {{ reunionTrouvee.getDatetimeReu()|date("H:i") }}</td>
	            <td>{{ reunionTrouvee.getLieuReu() }}</td>
	            <td>{{ reunionTrouvee.getContenu()|nl2br }}</td>
	            <td>{{ reunionTrouvee.getUser().getPrenom() ?? '' }}</td>
	            <td>
	            	<a class="btn btn-primary btn-block" href="{{ path('edit_reunion', {id : reunionTrouvee.getId()}) }}" role="button">Modifier</a>
	            	<a class="btn btn-secondary btn-block" href="{{ path('index_reunions') }}" role="button">Liste des réunions</a>
	            	<button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#delReu">Supprimer</button>
	            	<div class="modal fade" id="delReu" tabindex="-1" role="dialog" aria-labelledby="suppressionReunion" aria-hidden="true">
	            	  <div class="modal-dialog" role="document">
	            	    <div class="modal-content">
	            	      <div class="modal-header">
	            	        <h5 class="modal-title" id="exampleModalLabel">Suppression de "{{ reunionTrouvee.getTitre() }}"</h5>
	            	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            	          <span aria-hidden="true">&times;</span>
	            	        </button>
	            	      </div>
	            	      <div class="modal-body">
	            	        Voulez vous supprimer définitivement cette réunion ?
	            	      </div>
	            	      <div class="modal-footer">
	            	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
	            	        <a class="btn btn-secondary " href="{{ path('edit_reunion', {id : reunionTrouvee.getId()}) }}" role="button">Je préfère la modifier</a>
	            	        <a class="btn btn-danger  " href="{{ path('del_conf', {id : reunionTrouvee.getId()}) }}" role="button">Oui</a>
	            	        
	            	      </div>
	            	    </div>
	            	  </div>
	            	</div>
	            </td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
	</div>
	<div class="card-footer small text-muted">Reunion postée le  {{reunionTrouvee.getDatetimePost()|date("d/m/Y")}}</div>
</div>
{% endblock %}
