{% extends 'admin.html.twig' %}

{% block title %}Compte-rendu - modification{% endblock %}

{% block content %}
<!-- {{ dump(reunionTrouvee) }}
{{ dump(crTrouve) }} -->

    
  <section class="py-2 mb-5">
    <div class="card card-register mx-auto mt-5">
      <div class="d-flex justify-content-start">
        <a href="{{ path('index_back_reunions') }}" class="btn btn-secondary m-2" role="button"><i class="fas fa-angle-left"></i> Retour à la liste des réunions</a>
      </div>
      <div class="card-header">Modifier le compte-rendu pour {{ reunionTrouvee.getTitre() }}</div>
      {% if errors is not empty %}
        <div class="alert alert-danger">{{errors|raw}}</div>
      {% elseif success == true %}
        <div class="alert alert-success">Votre CR a bien été modifié</div>
      {% endif %}
      <div class="card-body">Réunion du {{ reunionTrouvee.getDatetimeReu()|date("Y-m-d") }} à {{ reunionTrouvee.getDatetimeReu()|date("H:i") }}
      </div>
      <div class="card-body">
        <form method="post">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="titre">Nom du compte rendu</label>
                <input type="text" id="titre" name="titre" class="form-control" required="required" autofocus="autofocus" value="{{ crTrouve.getTitre() }}">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="contenu">Contenu</label>
            <textarea id="contenu" name="contenu" class="form-control" required="required" >{{ crTrouve.getContenu()|nl2br }}</textarea>
          </div>
            <div class="card-body d-flex justify-content-between">
              <input type="submit" value="Modifier" class="btn btn-success">
              <a class="btn btn-primary " href="{{ path('view_back_reunion', {id : reunionTrouvee.getId()}) }}" role="button">Afficher</a>
            </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
