{% extends 'base.html.twig' %}

{% block title %}Réunions{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="/css/calendar.css">{% endblock %}

{% block content %}
    
	<section class="py-2 mb-5">
	<h2 class="py-3">Réunions </h2>
	<div class="d-flex justify-content-end">
		<a title="Gestion des réunions"href="{{ path('index_back_reunions') }}" class="btn btn-secondary mt-4 " role="button"><i class="fas fa-cogs"></i> </a>
	</div>
		<h3>Réunions à venir</h3>
		{% for reuNonPassee in reusNonPassees %}
			<div class="card-deck my-4">
			  	<div class="card">
				  	<div class="card-header ">
						<div class="card-title py-2">
				          	<a title="Afficher la reunion" class="btn btn-primary float-right" data-dt="{{ reuNonPassee.getDatetimeReu()|date('Y-m-d H:i') }}" href="{{ path('view_reunion', {id : reuNonPassee.getId()}) }}" role="button"><i class="far fa-eye"></i></a>
							<b>{{ reuNonPassee.getTitre() }}</b>, le {{ reuNonPassee.getDatetimeReu()|date("d/m/Y") }} (<em>{{ reuNonPassee.getTypeReu() }}</em>) 					
			  			</div>
						<div class="card-footer small text-muted mb-2">
							Mise à jour le {{ reuNonPassee.getDatetimePost()|date("d/m/Y") }}
						</div>
				    </div>
				</div>
			</div>
		{%  endfor %} 


		<h3>Réunions passées</h3>
		{% for reunionPassee in reunionsPassees %}
		  	<div class="card-deck my-4">
		    	<div class="card">
			  	  	<div class="card-header"> 
			  			<div class="card-title py-2">
			  	            <a title="Afficher la reunion" class="btn btn-primary float-right" href="{{ path('view_reunion', {id : reunionPassee.getId()}) }}" role="button"><i class="far fa-eye"></i></a>
			  				<b>{{ reunionPassee.getTitre() }}</b>, le {{ reunionPassee.getDatetimeReu()|date("d/m/Y") }} (<em>{{ reunionPassee.getTypeReu() }}</em>)
			  			</div>
			  			<div class="card-footer small text-muted mb-2">
			  				Mise à jour le {{ reunionPassee.getDatetimePost()|date("d/m/Y") }}
			  			</div>
			  	    </div>
		  		</div>
		  	</div>
		{%  endfor %} 
	</section>

{% endblock %}

{% block javascripts %}<script type="text/javascript" src="/js/calendar.js"></script>{% endblock %}
