{% extends 'base.html.twig' %}

{% block title %}Détails d'une réunion{% endblock %}

{% block content %}
	<section class="py-2 mb-5">
	    <h2 class="py-3">Détails de réunion</h2>
	    <div class="d-flex justify-content-between">
			{% if 'bureau' in app.session.get('ranks') %}
				<a href="{{ path('index_reunions') }}" class="btn btn-primary mt-4" role="button"><i class="fas fa-angle-left"></i> Retour aux réunions</a>
				{% if crTrouve is not empty %}
					<a href="{{ path('edit_cr', {id : reunionTrouvee.getId()}) }}" class="btn btn-secondary mt-4" role="button">Modifier CR</a>
				{% endif %}
				<a title="Gestion de cette réunion"href="{{ path('view_back_reunion', {id :reunionTrouvee.getId()}) }}" class="btn btn-secondary mt-4 " role="button"><i class="fas fa-cogs"></i> </a> 
			{% else %}
				<a href="{{ path('index_reunions') }}" class="btn btn-secondary mt-4" role="button"><i class="fas fa-angle-left"></i> Retour aux réunions</a>
			{% endif %}
		</div>
		<div class="card-deck my-4">
			<div class="card mb-3">
			    <div class="card-header">
			    	<h3><b>{{ reunionTrouvee.getTitre() }}</b></h3>
			    </div>
		        <div class="card-title m-3">
		        	<p>Le {{ reunionTrouvee.getDatetimeReu()|date("d/m/Y") }} à {{ reunionTrouvee.getDatetimeReu()|date("H:i") }} (<em>{{ reunionTrouvee.getTypeReu() }})</em>.</p>
		        	<p>Lieu : {{ reunionTrouvee.getLieuReu() }}</p>
		        	 
				</div>
	  			<div class="card-body">
	  				<p>Ordre du jour : {{ reunionTrouvee.getContenu()|nl2br }}</p>
		  			<p><em>Proposé par : {{ reunionTrouvee.getUser().getPrenom() ?? '' }}, le {{reunionTrouvee.getDatetimePost()|date("d/m/Y")}}</em></p>        
			    </div>	
			    {% if crTrouve is not empty %}
				    <div class="card-title m-3">
				    	<h4>Compte Rendu</h4>
				    </div>
				    <div class="card-body">
			    		<p><b>{{ crTrouve.getTitre() }}</b></p>
		            	<p>{{ crTrouve.getContenu()|nl2br }}</p>
		           		<p>Publié le {{ crTrouve.getDatetimePost()|date("d/m/Y") }} à {{ crTrouve.getDatetimePost()|date("H:i") }}
		              	{% if crTrouve.getDatetimeModif() is defined %}
		       		 		,<em> modifié le {{ crTrouve.getDatetimeModif()|date("d/m/Y") }} à {{ crTrouve.getDatetimeModif()|date("H:i") }}</em> 
		       			{% endif %}
		       				- par {{ crTrouve.getUser().getPrenom() ?? '' }}.</p>	
			        </div>
			    {% endif %}   		              
			</div>
		</div>
	</section>
{% endblock %}
