{% extends 'base.html.twig' %}

{% block title %}{{ balade.getTitre() }}{% endblock %}

{% block content %}
	<section class="py-2 mb-5">
		<h2 class="py-3">Balade</h2>
		<div class="d-flex justify-content-between">
			<span>
				<a href="{{ path('index_balades') }}" class="btn btn-primary" role="button"><i class="fas fa-angle-left"></i> Retour aux balades</a>
			</span>
			<span>
				{% if 'bureau' in app.session.get('ranks') %}
					<a title="Gérer les balades" class="btn btn-secondary" href="{{ path('gestion_balades') }}" role="button"><i class="fas fa-cogs"></i></a>
				{% endif %}
				{% if nb_photos > 0 %}
					<a title="Afficher la galerie ({{nb_photos}})" class="btn btn-primary" href="{{ path('view_album', {id: balade.getId()}) }}" role="button"><i class="fas fa-images"></i></a>
				{% else %}
					{% if 'adherent' in app.session.get('ranks') %}
						<a title="Ajouter des photos" class="btn btn-success" href="{{ path('gestion_photos', {id: balade.getId()}) }}" role="button"><i class="fas fa-images"></i></a>
					{% else %}
						<a href="" class="btn btn-primary disabled" role="button" disabled><i class="fas fa-images"></i></a>
					{% endif %}
				{% endif %}
			</span>
		</div>
		
		<div class="card-deck my-4">
			<div class="card">
				<div class="card-header">
					<div class="card-title">

						<!-- INSCRIPTION A BALADE -->

						{% if 'adherent' in app.session.get('ranks') %}

							{% if balade.getInscActive() %}

								{% if not inscrit %}

									{% if not baladeFull %}
										<a href="{{ path('inscription_balade', {id: balade.getId()}) }}" class="btn btn-success float-right ml-4" role="button">S'inscrire</a>
									{% else %}
										<a class="btn btn-success float-right ml-4 disabled" role="button">S'inscrire</a>
									{% endif %}								

								{% else %}
									<a href="{{ path('desinscription_balade', {id: balade.getId()}) }}" class="btn btn-danger float-right ml-4" role="button">Se Désinscrire</a>
								{% endif %}

							{% endif %}

							<div class="float-right">

								{% if nbMaxPers is not null %}
									<div>Participants : <strong>{{ nbInscrits ~ ' / ' ~ nbMaxPers }}</strong></div>
								{% else %}
									<div>Participants : <strong>{{ nbInscrits }}</strong></div>
								{% endif %}

								{% if not balade.getInscActive() %}

									{% if inscrit %}
										<div class="text-success"><em>Vous êtes inscrit(e)</em></div>
									{% endif %}

									<div><em>Les inscriptions sont closes</em></div>

								{% endif %}

							</div>

						{% endif %}

						<!-- CONTENU 'STATIQUE' -->
						<strong>{{ balade.getTitre() }}</strong>
						{% if balade.getDateDebut() == balade.getDateFin() %}
							<div>le {{ balade.getDateDebut()|date('d/m/Y') }}</div>
						{% else %}
							<div>du {{ balade.getDateDebut()|date('d/m/Y') }} au {{ balade.getDateFin()|date('d/m/Y') }}</div>
						{% endif %}
				   </div>
				</div>
				<div class="card-body">{{ balade.getContenu()|nl2br }}</div>
				<div class="card-footer">
					<i>Posté par 
						{{ balade.getUser().getPrenom() ~ ' ' ~ balade.getUser().getNom() }} 
						le 
						{{ balade.getDatetimePost()|date('d/m/Y') }} 
						à 
						{{ balade.getDatetimePost()|date('H:i') }}
					</i>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
