{% extends 'admin.html.twig' %}

{% block title %}Gestion Photos{% endblock %}

{% block content %}
	
	<section class="py-2 mb-5 container">
		<div class="d-flex justify-content-between">
			<span>
				{% if 'bureau' in app.session.get('ranks') %}
					<a href="{{ path('gestion_balades') }}" class="btn btn-secondary" role="button"><i class="fas fa-angle-left"></i> Retour</a>
				{% else %}
					{% if nb_photos > 0 %}
						<a href="{{ path('view_album', {id: balade.getId() }) }}" class="btn btn-info" role="button"><i class="fas fa-angle-left"></i> Retour</a>
					{% else %}
						<a href="{{ path('view_balade', {id: balade.getId() }) }}" class="btn btn-info" role="button"><i class="fas fa-angle-left"></i> Retour</a>
					{% endif %}
				{% endif %}
			</span>
			<span>
				
			</span>
		</div>	

		<div class="card my-4">
		    <div class="card-header">
		    	<div class="d-flex justify-content-between align-items-center">
		    		<span>Ajout de nouvelles photos à l'album <strong>{{ balade.getTitre() }}</strong></span>
		    		<span>
		    		</span>
		    	</div>
		    </div>
		  	<div class="card-body">
		  		<form id="add-photo-form" method="post" enctype="multipart/form-data">
		  			<input type="hidden" name="action" value="avatar-form">
		  			<input type="hidden" name="MAX_FILE_SIZE" value="{{ maxFileSize }}">
		  			<div class="profile-avatar-file">
		  				<div class="form-group row d-flex justify-content-center text-center">
		  					<label for="add-photo-input" class="col-12 "><strong>Ajouter une photo</strong></label>
		  					<input id="add-photo-input" class="text-center" name="photo" type="file" value="Sélectionner une photo">
		  				</div>
		  			</div>
	  				{% if errors is not empty %}
	  					<div class="alert alert-warning">{{ errors|join('<br>')|raw }}</div>
	  				{% elseif success == true %}
	  					<div class="alert alert-success">La photo a été ajoutée avec succès</div>
	  				{% endif %}
		  		</form>
			</div>
		</div>

		<div class="card-deck my-4">
			<div class="card">
				<div class="card-header">
					<div class="d-flex justify-content-between align-items-center">
						<span>Liste des photos</span>
						<span>
							{% if 'bureau' in app.session.get('ranks') %}
								{% if nb_photos > 0 %}
									<a title="Afficher la galerie" class="btn btn-info" href="{{ path('view_album', {id: balade.getId() }) }}" role="button"><i class="fas fa-globe-europe"></i></a>
								{% else %}
									<a title="Afficher la balade" class="btn btn-info" href="{{ path('view_balade', {id: balade.getId() }) }}" role="button"><i class="fas fa-globe-europe"></i></a>
								{% endif %}
							{% endif %}
						</span>
					</div>
					
				</div>
				<div class="card-body">
					<div class="scrolling-table">
						<table class="admin-table-mg">
							<thead>
								<th>#</th>
								<th class="text-left">Photo</th>
								<th>Actions</th>
							</thead>
							
							<tbody>
						      	{% for photo in photos %}
									<tr>
										<td class="text-center">
										    {% set i = ( i | default(0) ) + 1 %}{{i}}
										</td>
										<td>
											<figure class="admin-fig-photo">
											    <a href="{{ '/' ~ uploadDir ~ photo.getFileName() }}" data-fancybox="images" data-caption="{{ photo.getLegende() }}">
											        <img class="img-fluid" src="{{ '/' ~ uploadDir ~ photo.getFileName() }}">
											    </a>   
											</figure>
										</td>
										<td class="d-flex justify-content-center align-items-center flex-nowrap pt-2">
											<span>
												<div>
													<a 	title="Supprimer la photo" 
														class="btn btn-danger" 
														href="{{ path('del_photo', {id: photo.getId()}) }}" 
														role="button" 
														data-toggle="modal" 
														data-target="#modalDelete"
														data-content="Vous êtes sur le point de supprimer une photo liée à la balade <strong>{{ balade.getTitre() }}</strong> de manière irréversible. Êtes-vous sûr(e) de vouloir continuer ?">
														<i class="fas fa-times"></i>
													</a>
												</div>
											</span>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
			      	
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block javascripts %}

	<script>
		$(document).ready(function() {
			$('#add-photo-input').change(function() {

				$('#js-error-size').remove();

				$form = $(this).closest('#add-photo-form');

				if(this.files[0].size < {{ maxFileSize }}) {
					$form.trigger('submit');
				}
				else {
					$form.find('.alert').remove();
					$form.append('<div id="js-error-size" class="alert alert-warning">Fichier trop volumineux pour être traîté</div>');
				}
			});
		});
	</script>

{% endblock %}