{% extends 'admin.html.twig' %}

{% block title %}Profil{% endblock %}

{% block content %}
	<div class="container">
		<div class="card mb-3">
		    <div class="card-header">Mon avatar</div>
		  	<div class="card-body">
		  		<form id="change-avatar-form" method="post" enctype="multipart/form-data">
		  			<input type="hidden" name="action" value="avatar-form">
		  			<input type="hidden" name="MAX_FILE_SIZE" value="{{ maxFileSize }}">

		  			<figure class="session-avatar profile-avatar">
		  				{% if app.session.get('avatar') is not null %}
		  					<img src="{{ '/uploads/avatars/' ~ app.session.get('avatar') }}">
		  				{% else %}
		  					<img src="{{ '/images/default-user.png' }}">
		  				{% endif %}
		  			</figure>

		  			<div class="profile-avatar-file">
		  				<div class="form-group row d-flex justify-content-center text-center">
		  					<label for="change-avatar-input" class="col-12 "><strong>Changer mon avatar</strong></label>
		  					<input id="change-avatar-input" class="text-center" name="avatar" type="file" value="Changer d'avatar">
		  				</div>
		  			</div>
	  				{% if av_errors is not empty %}
	  					<div class="alert alert-warning">{{ av_errors|join('<br>')|raw }}</div>
	  				{% elseif av_success == true %}
	  					<div class="alert alert-success">L'avatar a été modifié avec succès</div>
	  				{% endif %}
		  		</form>
			</div>
		</div>

		<div class="card mb-3">
		    <div class="card-header">Mes informations</div>
		  	<div class="card-body">
		  		<form method="post">
		  			<input type="hidden" name="action" value="infos-form">

		  			<div class="form-group row">
		  				<label for="email" class="col-lg-3">Email</label>
		  				<input id="email" class="col-lg-9 form-control" name="email" type="text" value="{{ app.session.get('email') }}" disabled>
		  			</div>
		  			<div class="form-group row">
		  				<label for="acces" class="col-lg-3">Accès</label>
		  				<input id="acces" class="col-lg-9 form-control" name="acces" type="text" value="{{ app.session.get('acces') }}" disabled>
		  			</div>
		  			<div class="form-group row">
		  				<label for="pseudo" class="col-lg-3">Pseudo</label>
		  				<input id="pseudo" class="col-lg-9 form-control" name="pseudo" type="text" value="{{ post.pseudo ?? app.session.get('pseudo') }}">
		  			</div>
		  			<div class="form-group row">
		  				<label for="nom" class="col-lg-3">Nom</label>
		  				<input id="nom" class="col-lg-9 form-control" name="nom" type="text" value="{{ post.nom ?? app.session.get('nom') }}">
		  			</div>
		  			<div class="form-group row">
		  				<label for="prenom" class="col-lg-3">Prénom</label>
		  				<input id="prenom" class="col-lg-9 form-control" name="prenom" type="text" value="{{ post.prenom ?? app.session.get('prenom') }}">
		  			</div>
		  			<div class="form-group row">
		  				<label for="adresse" class="col-lg-3">Adresse</label>
		  				<input id="adresse" class="col-lg-9 form-control" name="adresse" type="text" value="{{ post.adresse ?? app.session.get('adresse') }}">
		  			</div>
		  			<div class="form-group row">
		  				<label for="cp" class="col-lg-3">Code Postal</label>
		  				<input id="cp" class="col-lg-9 form-control" name="cp" type="text" value="{{ post.cp ?? app.session.get('cp') }}">
		  			</div>
		  			<div class="form-group row">
		  				<label for="ville" class="col-lg-3">Ville</label>
		  				<input id="ville" class="col-lg-9 form-control" name="ville" type="text" value="{{ post.ville ?? app.session.get('ville') }}">
		  			</div>
		  			<div class="form-group row">
		  				<label for="telephone" class="col-lg-3">Téléphone</label>
		  				<input id="telephone" class="col-lg-9 form-control" name="telephone" type="text" maxlength="10" value="{{ post.telephone ?? app.session.get('telephone') }}">
		  			</div>
		  			<div class="form-group row">
		  				<label for="date_naiss" class="col-lg-3">Date de naissance</label>
		  				<input id="date_naiss" class="col-lg-9 form-control" name="date_naiss" type="date" value="{{ post.date_naiss ?? app.session.get('date_naiss')|date('Y-m-d') }}">
		  			</div>
		  			{% if errors is not empty %}
		  				<div class="alert alert-warning">{{ errors|join('<br>')|raw }}</div>
		  			{% elseif success == true %}
		  				<div class="alert alert-success">Vos modifications ont bien été prises en compte</div>
		  			{% endif %}
		  			<div class="form-group row d-flex justify-content-end">
		  				<input type="submit" class="btn btn-primary btn-lg m-1" value="Enregistrer les modifications">
		  				<input type="reset" class="btn btn-secondary btn-lg m-1" value="Réinitialiser">
		  			</div>
		  		</form>
			</div>
		</div>

		<div class="card mb-3">
		    <div class="card-header">Modifier mon mot de passe</div>
		  	<div class="card-body">
		  		<form method="post">
		  			<input type="hidden" name="action" value="pwd-form">

		  			<div class="form-group row">
		  				<label for="current_pwd" class="col-lg-3">Mot de passe actuel</label>
		  				<input id="current_pwd" class="col-lg-9 form-control" name="current_pwd" type="password">
		  			</div>
		  			<div class="form-group row">
		  				<label for="new_pwd" class="col-lg-3">Nouveau mot de passe</label>
		  				<input id="new_pwd" class="col-lg-9 form-control" name="new_pwd" type="password">
		  			</div>
		  			<div class="form-group row">
		  				<label for="new_pwd_confirm" class="col-lg-3">Confirmation du mot de passe</label>
		  				<input id="new_pwd_confirm" class="col-lg-9 form-control" name="new_pwd_confirm" type="password">
		  			</div>
		  			{% if pwd_errors is not empty %}
		  				<div class="alert alert-warning">{{ pwd_errors|join('<br>')|raw }}</div>
		  			{% elseif pwd_success == true %}
		  				<div class="alert alert-success">Votre mot de passe a été modifié avec succès</div>
		  			{% endif %}
		  			<div class="form-group row d-flex justify-content-end">
		  				<input type="submit" class="btn btn-primary btn-lg m-1" value="Valider">
		  				<input type="reset" class="btn btn-secondary btn-lg m-1" value="Réinitialiser">
		  			</div>
		  		</form>
			</div>
		</div>
	</div>


{% endblock %}


{% block javascripts %}

	<script>
		$(document).ready(function() {
			$('#change-avatar-input').change(function() {

				$('#js-error-size').remove();

				$form = $(this).closest('#change-avatar-form');

				if(this.files[0].size < {{ maxFileSize }}) {
					$form.trigger('submit');
				}
				else {
					$form.find('.alert').remove();
					$form.append('<div id="js-error-size" class="alert alert-warning">Fichier trop volumineux pour être traîté</div>');
				}
			});
		});
	</script>

{% endblock %}