{% extends 'admin.html.twig' %}

{% block title %}Espace Perso{% endblock %}

{% block content %}
  <!-- Icon Cards-->
  <div class="row">
    {% if 'membre' in app.session.get('ranks') %}
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100 clearfix small z-1">
          <a class="nav-link text-white text-decoration-none pl-0" href="{{path('view_profile')}}">
            <div class="card-body h-100">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-user-edit"></i>
              </div>
              <div class="mr-5 small-title">Mon profil</div>
              <p>Pour acceder à la page contenant vos informations personnelles, votre avatar etc.</p>
            </div>
          </a>
        </div>
      </div>
    {% endif %}                  

    {% if 'adherent' in app.session.get('ranks') %}
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100 clearfix small z-1">
          <div class="card-body h-100">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-road"></i>
            </div>
            <a class="nav-link dropdown-toggle text-white text-decoration-none pb-0 pl-0" href="#" id="pages1Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="mr-5 small-title">Balades</div>
                <p class="mb-0">Pour accèder... aux balades !</p>
            </a>
            <div class="dropdown-menu bg-transparent py-0" aria-labelledby="pages1Dropdown">

                {% if 'bureau' in app.session.get('ranks') %}
                  <a class="dropdown-item text-white link-back-perso" href="{{path('add_balade')}}">Ajouter</a>
                  <a class="dropdown-item text-white link-back-perso" href="{{path('gestion_balades')}}">Gérer</a>
                {% else %}
                  <a class="dropdown-item text-white link-back-perso" href="{{path('add_balade')}}">Proposer</a>
                {% endif %}

            </div>
          </div>
        </div>
      </div>
    {% endif %} 

    {% if 'bureau' in app.session.get('ranks') %}
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100 clearfix small z-1">
          <div class="card-body h-100">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-copy"></i>
            </div>
            <a class="nav-link dropdown-toggle text-white text-decoration-none pb-0 pl-0" href="#" id="pages2Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="mr-5 small-title">Réunions</div>
                <p class="mb-0">Pour accéder ... aux réunions !</p>
            </a>
            <div class="dropdown-menu bg-transparent py-0" aria-labelledby="pages2Dropdown">
              <a class="dropdown-item text-white link-back-perso" href="{{path('add_reunion')}}">Ajouter</a>
              <a class="dropdown-item text-white link-back-perso" href="{{path('index_back_reunions')}}">Gérer</a>
            </div>

          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-secondary o-hidden h-100 clearfix small z-1">
          <a class="nav-link text-white text-decoration-none pl-0 h-100" href="{{path('liste_users')}}">
            <div class="card-body h-100">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-users-cog"></i>
              </div>
              <div class="mr-5 small-title">Utilisateurs</div>
                <p>Pour accéder à la liste de tous les membres inscrits.</p>
            </div>
          </a>
        </div>
      </div>
    {% endif %}

  </div>
{% endblock %}
