{% extends 'admin.html.twig' %} 

{% block title %}Admin - Utilisateurs{% endblock %}

{% block content %}

	<section class="py-2 mb-5 container">
		<div class="card-deck my-4">
			<div class="card">
				<div class="card-header">
					<div class="d-flex justify-content-between align-items-center">
						<span>Liste des utilisateurs</span>
						<span>
						</span>
					</div>
          {% if errors is not empty %}
            <div class="alert alert-warning mt-3">
              {{ errors|join('<br>')|raw }} 
            </div>
          {% elseif success == true %}
            <div class="alert alert-success mt-3">
              Les droits de <strong>{{user.prenom}}</strong> ont été modifiés avec succès.
            </div>
          {% endif %}
				</div>
				<div class="card-body">
					<div class="scrolling-table">
						<table class="admin-table-mg">
							<thead>
              <th class="text-left">Identité</th>
              <th class="text-left">Date d'inscription</th>
              <th class="text-left">Date d'adhésion</th>
              <th class="text-left">Rang</th>
							</thead>
							
							<tbody>
						      	{% for user in users %}
            <tr>
              <td class="text-left"><div><strong>{{ user.getNom() }} {{ user.getPrenom() }}</strong></div>
                <div>{{ user.getEmail() }}</div></td>
              <td class="text-left"></div>{{ user.getDatetimeInscription|date('d/m/Y') }}</div></td>
              <td class="text-left"><div>{% if user.getDatetimeAdhesion is not null %}{{ user.getDatetimeAdhesion|date('d/m/Y') }}{% endif %}</div></td>
              <td>
                    {% if 'admin' in app.session.get('ranks') %}
                <form method="post">
                  <select class="custom-select" name="{{user.getId()}}">
                    {% for key, rank in nomsRanks %}
                      <option value="{{key}}"{% if key == user.getAcces %}{{' selected'}}{% endif %}>{{rank}}</option>
                  {% endfor %}
                </select>
                    {% else %}
                      {{nomsRanks[user.getAcces()]}}
                    {% endif %}
              </form>
            </td>
            </tr>
            {% endfor %}
							</tbody>
						</table>
					</div>	
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}

	<script>
		$(document).ready(function() {
			$('select').change(function() {

				$(this).closest('form').trigger('submit');
			});
		});
	</script>

{% endblock %}

			